<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="text-center">
<div class="container-fluid">
    <h1>CodeOne 2018 XSS Demo</h1>
    <div class="row">
        <div class="col-sm-6" style="background-color:lightgrey;">
            <h2>Login</h2>
            <form action="/login" method="post">
                <p><input type="text" name="logusername" placeholder="Username" required=""></p>
                <p><input type="password" name="logpassword" placeholder="Password" required=""></p>
                <p><input type="submit" value="Login" class="btn btn-primary"></p>
            </form>
        </div>
        <div class="col-sm-6" style="background-color:lightblue;">
            <h2>Register</h2>
            <form action="/register" method="post">
                <p><input type="text" name="username" placeholder="Username" required=""></p>
                <p><input type="password" name="password" placeholder="Password" required=""></p>
                <p><input type="password" name="passwordConf" placeholder="Confirm Password" required=""></p>
                <p><input type="submit" class="btn btn-primary" value="Register" class="btn btn-primary"></p>
            </form>
        </div>
    </div>
</div>
</body>
<% include partials/script %>
</html>